<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Filmes API{% endblock %}
{% load humanize %}

{% block content %}
<div class="offset-0 col-11 listafilmes-div">
    <div class="flex-container">
        <form role="form" method="GET" class="form-inline" id="searchano-form">
            <div class="form-group searchano-div">
                <label for="ano">Ano:</label>
                {% if anoatual %}
                    <input type="text" class="form-control" id="ano" name="ano" value={{anoatual}}>
                {% else %}
                    <input type="text" class="form-control" id="ano" name="ano">
                {% endif %}
                <button type="submit" id="btn-ano" class="btn btn-primary">Busca Filmes</button>
            </div>
        </form>
    </div>
    {% if anoatual %}
        {% if qtdefilmes == 0 %}
            <div class="alert alert-danger alert-dismissable alert-ano">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Atenção! </strong> Nenhum filme encontrado neste ano !
            </div>
        {% else %}
            <h3># Filmes: {{qtdefilmes}}</h3>
        {% endif %}
    {% endif %}
    <div class="container lista-filmes">
        <table class="table">
            <thead>
            <tr>
                <th>Nome do Filme</th>
                <th>Ano</th>
                <th class="text-center">Mes</th>
                <th class="text-center">Genero</th>
                <th class="text-center">Tipo</th>
                <th class="text-right">Receita</th>
            </tr>
            </thead>
            <tbody>
            {% for filme in listafilmes %}
            <tr>
                <td><span><a href="/filme/{{filme.id}}">{{filme.nome}}</a></span></td>
                <td>{{filme.ano}}</td>
                <td class="text-center">{{filme.mes}}</td>
                <td class="text-center">{{filme.genero}}</td>
                <td class="text-center">{{filme.tipo}}</td>
                <td class="text-right">{{filme.receita | intcomma}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
